label{
    display: block;
    margin-bottom: 20px;
}

table{
    border-collapse: collapse;
    margin-left: 30px;
}

td,th{
    border: 1px solid black;
    padding: 5px 10px;
}

nav li a{
    text-decoration: none;
    color: black;
}

nav>ul{
    display: flex;
    
}


nav li{
    margin-right: 10px;
    list-style: none;
    padding: 5px;
}

nav li:hover{
    background-color: lightgray;
}

nav li .dropdown{
    display: none;
    position: absolute;
    background-color: antiquewhite;
    padding-left: 10px;
}

nav  li:hover > .dropdown {
    display: block;
    
    
}